<div class="content">
  <p class="headline">Please enter your shipping details</p>
  <form #form="ngForm" (ngSubmit)="submitForm()">
    <table>
      <tr>
        <td><label>Name:</label></td>
        <td>
          <input
            type="text"
            name="customerName"
            placeholder="Your name"
            [(ngModel)]="customer.customerName"
            required
            minlength="3"
            #customerName="ngModel"
          />
        </td>
      </tr>

      <tr>
        <td>
          <label>Address:</label>
        </td>
        <td>
          <input
            type="text"
            name="address"
            placeholder="Address"
            [(ngModel)]="customer.address"
            required
            minlength="3"
            #address="ngModel"
          />
        </td>
      </tr>

      <tr>
        <td>
          <label>Credit card number:</label>
        </td>
        <td>
          <input
            type="number"
            name="creditCardNumber"
            placeholder="Credit card number"
            [(ngModel)]="customer.creditCardNumber"
            required
            #creditCardNumber="ngModel"
          />
        </td>
      </tr>

      <tr>
        <td>
          <label>Phone number:</label>
        </td>
        <td>
          <input
            type="tel"
            name="phoneNumber"
            placeholder="Phone number"
            [(ngModel)]="customer.phoneNumber"
            required
            minlength="6"
            #phoneNumber="ngModel"
          />
        </td>
      </tr>

      <tr>
        <td>
          <label>Email:</label>
        </td>
        <td>
          <input
            type="email"
            name="email"
            placeholder="Email"
            [(ngModel)]="customer.email"
            required
            #email="ngModel"
          />
        </td>
      </tr>
    </table>

    <input type="submit" value="Submit order" [disabled]="form.invalid" />
  </form>

  <div *ngIf="customerName.invalid && customerName.touched">
    <div *ngIf="customerName.errors?.required">Please enter your name.</div>

    <div *ngIf="customerName.errors?.minlength">
      The name you entered is too short.
    </div>
  </div>

  <div *ngIf="address.invalid && address.touched">
    <div *ngIf="address.errors?.required">Please enter an address.</div>

    <div *ngIf="address.errors?.minlength">
      The address you entered is too short.
    </div>
  </div>

  <div *ngIf="creditCardNumber.invalid && creditCardNumber.touched">
    <div *ngIf="creditCardNumber.errors">
      Please enter a valid credit card number.
    </div>
  </div>

  <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
    <div *ngIf="phoneNumber.errors">
      Please enter a valid phone number of min. 6 digits.
    </div>
  </div>

  <div *ngIf="email.invalid && email.touched">
    <div *ngIf="email.errors">Please enter a valid email address.</div>
  </div>
</div>
