<div class="content">
  <div class="headline">You have {{ numberOfProducts() }} items in your cart!</div>
  <table>
    <thead>
      <tr>
        <td>Item</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cart()">
        <td>{{ cartItem.name }}</td>
        <td>{{ cartItem.price }} €</td>
      </tr>
      <tr>
        <td></td>
        <td class="row-total">Total: {{ totalPrice() }} €</td>
      </tr>
      <tr>
        <td>
          <button (click)="clearCart()">Clear cart</button>
        </td>
        <td>
          <button (click)="navigateToCheckout()" [disabled]="totalPrice() <= 0">
            Go to checkout
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
